@media screen and (max-width: 767px) {
  .section{
    width: 250px;
    margin: 0 auto; 
  }
  .header{
    width: 250px;
  }
  .right{
    width: 100px;
  }
  .footer{
    width: 250px;
  }
}

@media screen and (max-width: 479px) {
  .wrapper {
    height: 100%;
  }
  .section{
    width: 150px;
    height: 100%;
    margin: 0 auto; 
  }
  .header{
    width: 150px;
  }
  .left{
    float: none;
  }
  .right{
    width: 150px;
    float: none;
  }
  .footer{
    width: 150px;
    margin-top: 250px;
  }
}