body {
  min-height: 100%; 
  height: 100%;
}

.wrap{
  margin: 0 auto;
  width: 699px;
}

table {
  width: 700px;
  height: 250px;
  border-collapse: collapse;
  margin-top: 20px;
}

.karamu {
  background-color: #f5f5f5;
}

table tr, table td {
  border: solid 1px #dcdcdc;
  text-align: center;
  height: 60px;
}

.btn1 {
  width: 80px;
  height: 35px;
  background-color: #1e90ff;
  display: inline-block;
  border-radius: 4px;
  margin-top: 10px;
}

.btn2 {
  width: 100px;
  background-color: #808080;
  display: inline-block;
  height: 35px;
  border-radius: 4px;
  margin-top: 10px;
}

.btn3 {
  padding-top: 5px;
}

a {
  color:#ffffff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

.delete {
  background-color: #dc143c;
  width: 55px;
  height: 35px;
  margin: 0 auto;
  border-radius: 3px;
}

* {
  margin: 0;
  padding: 0;
}
