body {
  min-height: 100%; 
  height: 100%;
}
.clearfix::after { 
  content: ''; 
  display: block; 
  clear: both;
}
.wrapper {
  width: 400px; 
  margin: 0 auto; 
}
.header { 
  width: 400px;
  height: 100px; 
  background-color: #141f40;
}
.contents { 
  width: 400px;
  height: 250px;
}
.center-upper{
  width: 150px;
  height: 50px;
  background-color: #ff9e6b;
}
.center-lower{
  width: 150px;
  height: 100px;
  background-color: #8c2727;
}
.left { 
  float: left;
  width: 150px;
  height: 250px;
  background-color: #80bfa8;
}
.righe-wrap{
  float: right;
  width: 250px;
  height: 250px;
}
.right-center{
  width: 250px;
  height: 150px;
}
.center-wrap{
  float: right;
  width: 150px;
  height: 150px;
}
.right { 
  float: left;
  width: 100px; 
  height: 150px;
  background-color: #dbd400;
}
.right-upper{
  float: right;
  width: 250px;
  height: 100px;
  background-color: #0093b7;
}
.footer {
  width: 400px;
  height: 100px;
  background-color: #d98d30;
}
* {
  margin: 0;
  padding: 0;
}